<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://dachshund-mailer-api.herokuapp.com/css/style.css">
</head>

<body>
  <a href="https://dachshund-mailer.vercel.app/">
    <img src="https://dachshund-mailer-api.herokuapp.com/img/logo.png" />
  </a>

  <h1>
    Welcome {{.Context.To.Name}}
  </h1>
  <p>
    Dachshund is a free and open-source mailer created by <a href="https://elioenai-ferrari.vercel.app">Elioenai
      Ferrari</a>.
    Dachshund has high resilience, reliability and security. We are happy to be your choice.
    enjoy it!
    <br />
    <br />
    Your Api-Key: <strong>
      {{.Context.To.ApiKey}}
    </strong>
  </p>
</body>

</html>